@model IEnumerable<WebsiteBanDienThoai23.DAL.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHd)
            </th>
            <th>
                Khách hàng
            </th>
            <th>
                Nhân viên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongGiaTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiTt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanHang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNvNavigation.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongGiaTri)
            </td>
            <td>
                @if (item.TrangThaiTt.HasValue)
                {
                    @(item.TrangThaiTt.Value ? "Đã thanh toán" : "Chưa thanh toán")
                }
                else
                {
                    <span>Không xác định</span>
                }
            </td>
            <td>
                @switch (item.TrangThaiDh)
                {
                    case 0:
                        <span>Đang xử lý</span>
                        break;
                    case 1:
                        <span>Đang giao</span>
                        break;
                    case 2:
                        <span>Đã giao</span>
                        break;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanHang)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Edit</a> |
                <form asp-action="DeleteConfirmed" method="post" style="display:inline;">
                    <input type="hidden" name="id" value="@item.MaHd" />
                    <input type="submit" value="Delete" class="btn btn-link text-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa hóa đơn này không?');" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
