@model IEnumerable<WebsiteBanDienThoai23.DAL.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongGiaTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiTt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThaiDh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayNhanHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaKhNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongGiaTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiTt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThaiDh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhanHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhNavigation.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHd">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHd">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
