@model WebsiteBanDienThoai23.DAL.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết điện thoại @Model.TenSp</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSp)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Hình ảnh điện thoại 
        </dt>
        <dd class = "col-sm-10">
            <img src="~/imgProduct/@Model.Hinh1" style="border-radius: 50px; width: 200px;height: 200px;">
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Mô tả 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Tồn kho
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TonKho)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Số lượng tồn kho
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Giá bán
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Thời gian bảo hành
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBh)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Hỗ trợ 5G
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._5g)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            CPU
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Dung lượng Pin
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pin)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Hỗ trợ sạc nhanh
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SacNhanh)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Bộ nhớ Ram
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ram)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Bộ nhớ Rom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rom)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Độ lớn màn hình
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManHinh)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Tốc độ khung hình
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fps)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Hệ điều hành
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeDieuHanh)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Camera sau
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraSau)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Camera trước
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CameraTruoc)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Mã Imel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imel)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Giảm giá
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiamGia)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            Mã loại điện thoại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaLoaiNavigation.MaLoai)
        </dd>
        <hr />
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
