@model WebsiteBanDienThoai23.Web.Models.DangKy

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>MobilePhone Store</title>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                            <div class="d-flex justify-content-center py-4">
                                <a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center w-auto">
                                <img src="~/images/logotext1.png" style="height:80px;width:auto">
                                </a>
                            </div><!-- End Logo -->

                            <div class="card mb-5" style="width:150%;display:flex;justify-content:center;">

                                <div class="card-body">
                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">Đăng Ký Tài Khoản</h5>
                                        <p class="text-center small">Chào mừng bạn tới với MobilePhone Store vui lòng đăng ký tài khoản dưới đây!</p>
                                    </div>

                                    <!-- Multi Columns Form -->
                                    @using (Html.BeginForm("DangKy", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
                                    {
                                        <div class="col-6">
                                            @Html.Label("Nhập tên tài khoản:", null, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.TenTaiKhoan, new { @class = "form-control", @id = "yourUsername", @required = "required", @minlength = "6" })
                                            @Html.ValidationMessageFor(model => model.TenTaiKhoan, "Vui lòng nhập tên tài khoản hợp lệ", new { @class = "invalid-feedback" })
                                            @if (ViewBag.TenTKError != null)
                                            {
                                                <span class="badge badge-danger" style="color:red">@ViewBag.TenTKError</span>
                                            }
                                        </div>

                                        <div class="col-6">
                                            @Html.Label("Nhập họ tên:", null, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.HoTen, new { @class = "form-control", @id = "yourFullName", @required = "required", @minlength = "6" })
                                            @Html.ValidationMessageFor(model => model.HoTen, "Vui lòng nhập họ tên hợp lệ", new { @class = "invalid-feedback" })
                                        </div>

                                        <div class="col-6">
                                            @Html.Label("Nhập Email của bạn:", null, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "yourEmail", @type = "email", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.Email, "Vui lòng nhập email", new { @class = "invalid-feedback" })
                                            @if (ViewBag.EmailError != null)
                                            {
                                                <span class="badge badge-danger" style="color:red">@ViewBag.EmailError</span>
                                            }
                                        </div>

                                        <div class="col-6">
                                            @Html.Label("Nhập Password:", null, new { @class = "form-label" })
                                            @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control", @id = "yourPassword", @required = "required", @minlength = "6" })
                                            @Html.ValidationMessageFor(model => model.MatKhau, "Vui lòng nhập mật khẩu hợp lệ", new { @class = "invalid-feedback" })
                                        </div>
                                        <div class="col-12">
                                            @Html.Label("Nhập địa chỉ:", null, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.DiaChi, new { @class = "form-control", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.DiaChi, "Vui lòng nhập địa chỉ tối thiểu 6 kí tự", new { @class = "invalid-feedback", @minlength = "6" })
                                        </div>
                                        <div class="col-12">
                                            @Html.Label("Nhập số điện thoại:", null, new { @class = "form-label" })
                                            @Html.TextBoxFor(model => model.Sdt, new { @class = "form-control", @type = "number", @required = "required", @minlength = "10", @maxlength = "11" })
                                            @Html.ValidationMessageFor(model => model.Sdt, "Vui lòng nhập số điện thoại hợp lệ", new { @class = "invalid-feedback" })
                                            @if (ViewBag.SDTError != null)
                                            {
                                                <span class="badge badge-danger" style="color:red">@ViewBag.SDTError</span>
                                            }
                                        </div>
                                        <!-- ... other form fields ... -->

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Đăng ký</button>
                                            <button type="reset" class="btn btn-secondary">Làm mới</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">Bạn đã có tài khoản? <a href="@Url.Action("DangNhap","Account")">Đăng nhập</a></p>
                                            
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="credits" style="font-weight:bold">
                                Đồ án Website bán điện thoại - Nhóm MobilePhone Store
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </div>
    </main>

