<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<title>GTXSTORE | Online Store</title>
<div class="container">

	<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

					<div class="d-flex justify-content-center py-4">
						<a href="@Url.Action("Index","Home")" class="logo d-flex align-items-center w-auto">
							<img src="~/images/logotext1.png" style="height:80px;width:auto">
						</a>
					</div><!-- End Logo -->

					<div class="card mb-3">

						<div class="card-body">

							<div class="pt-4 pb-2">
								<h5 class="card-title text-center pb-0 fs-4">Khôi phục tài khoản</h5>
								<p class="text-center small">Xin chào! hãy nhập mật khẩu mới của bạn</p>
							</div>
							@using (Html.BeginForm("KhoiPhucMatKhau", "Account", FormMethod.Post, new { @class = "row g-3 needs-validation", @novalidate = "novalidate" }))
							{
								<div class="col-12">
									@Html.Label("Mã xác thực:", null, new { @class = "form-label" })
									@Html.TextBox("MaXacThuc", null, new { @class = "form-control", @id = "yourUsername", @required = "required", @placeholder = "nhập mã xác thực được gửi qua email" })
									@if (ViewBag.CodeError != null)
									{
										<span class="badge badge-danger" style="color:red">@ViewBag.CodeError</span>
									}
								</div>
								<div class="col-12">
									@Html.Label("Mật khẩu mới:", null, new { @class = "form-label" })
									@Html.Password("MatKhau", null, new { @class = "form-control", @id = "yourPassword", @required = "required", @placeholder = "Nhập mật khẩu mới của bạn", @minlength = 6 /* @autocomplete = "off" */ })
									@if (ViewBag.Password != null)
									{
										<span class="badge badge-danger" style="color:red">@ViewBag.Password</span>
									}
								</div>
								<div class="col-12">
									<button class="btn btn-primary w-100" type="submit">Đăng nhập</button>
								</div>
								<div>
									@if (ViewBag.ThieuThongTin != null)
									{
										<span class="badge badge-danger" style="color:red">@ViewBag.ThieuThongTin</span>
									}
								</div>
							}
						</div>
					</div>

					<div class="credits" style="font-weight:bold">
						Đồ án Website bán điện thoại
					</div>
				</div>
			</div>
		</div>

	</section>

</div>

