@model IEnumerable<WebsiteBanDienThoai23.DAL.Models.SanPham>
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/product.css">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/slick-theme.css">
</head>

<body>
    <section>
        <div class="container-fluid section">
            <div class="row type_dien_thoai">
                <div class="col-md-12">
                    <ul class="list_type_dien_thoai">
                        <li><a href="/MayCu/Name?key=iphone"><img src="~/images/88.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=samsung"><img src="~/images/89.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=oppo"><img src="~/images/90.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=xiaomi"><img src="~/images/91.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=vivo"><img src="~/images/92.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=huawei"><img src="~/images/93.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=realme"><img src="~/images/94.jpg" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=oneplus"><img src="~/images/oneplus.png" alt="" class="img-responsive"></a></li>
                        <li><a href="/MayCu/Name?key=poco"><img src="~/images/poco.png" alt="" class="img-responsive"></a></li>
                        <li class="seemore_dien_thoai"><a href="/MayCu">Xem thêm</a></li>
                    </ul>
                </div>
            </div>
            <div class="row filter_dien_thoai">
                <div class="col-md-12">
                    <ul class="list_filter_dien_thoai">
                        <li>Chọn mức giá: </li>
                        <li><a href="/MayCu/Price?min=0&max=12000000">Dưới 12 triệu</a></li>
                        <li><a href="/MayCu/Price?min=12000000&max=14000000">Từ 12 - 14 triệu</a></li>
                        <li><a href="/MayCu/Price?min=14000000&max=17000000">Từ 14 - 17 triệu</a></li>
                        <li><a href="/MayCu/Price?min=17000000&max=23000000">Từ 17 - 23 triệu</a></li>
                        <li><a href="/MayCu/Price?min=23000000&max=50000000">Trên 23 triệu</a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
            </div>
            <div class="row phones_dien_thoai">
                <div class="col-md-12 title_dien_thoai">
                    <h3>danh sách máy cũ theo giá</h3>
                </div>
                <div class="row filter_dien_thoai">
                    <div class="col-md-12">
                        <ul class="list_filter_dien_thoai">
                            <li>Bộ lọc: </li>
                            <li><input type="checkbox" name="new_dien_thoai"> Pin trâu</li>
                            <li><input type="checkbox" name="installment_dien_thoai"> Camera đẹp</li>
                            <li><input type="checkbox" name="only_sell_online_dien_thoai"> Hỗ trợ 5G</li>
                            <li><button>Lọc</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 main_list_dien_thoai">
                    <ul class="list_dien_thoai">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a asp-action="Details" asp-route-id="@item.MaSp">
                                    <div class="phone_dien_thoai">
                                        <img src="~/imgProduct/@item.Hinh1" alt="" class="img-responsive">
                                        <div class="sub_title">
                                            <h4>
                                                <a href="@Url.Action("Details", "DetailsProduct", new { id = item.MaSp })">@item.TenSp</a>
                                            </h4>
                                            @{
                                                var giaDaGiam = Math.Round(item.Gia * (1 - (item.GiamGia / 100)));
                                                var reHon = item.Gia - giaDaGiam;
                                            }
                                            <p class="price">@giaDaGiam.ToString("N0")<span>₫</span></p>
                                            <p>Giá máy mới: @item.Gia.ToString("N0")<span>₫</span></p>
                                            <p>Rẻ hơn: @reHon.ToString("N0")<span>₫</span></p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <a href="/MayCu" class="btn btn-primary viewmore_dien_thoai">
                    Xem thêm máy cũ <span class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
            </div>
            <div class="col-md-12 text-center">
                <br />
            </div>
        </div>
        <div class="container-fluid main_shipper_dien_thoai">
            <div class="row" style="max-width: 1300px; margin: 0 auto;">
                <div class="col-md-12">
                    <ul class="list_shipper_dien_thoai">
                        <li>
                            <p>Giao hàng hoả tốc trong 1 giờ</p>
                        </li>
                        <li>
                            <p>Thanh toán linh hoạt: tiền mặt, visa / master, trả góp</p>
                        </li>
                        <li>
                            <p>Trải nghiệm sản phẩm tại nhà</p>
                        </li>
                        <li>
                            <p>Lỗi đổi tại nhà trong 1 ngày</p>
                        </li>
                        <li>
                            <p>Hỗ trợ suốt thời gian sử dụng. Hotline: <a href="#">1800.1763</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid footer">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list_about">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://th.bing.com/th/id/OIP.XiHiqIYf_ZAyyoxJq867DAHaFj?rs=1&pid=ImgDetMain" alt="" height="100%" width="100%"></a>
                        </div>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <li><span>CN Q5: </span>9999 Nguyễn Tri Phương, P8, Q5, TPHCM</li>
                        <li><span>CN Q6: </span>1000 Hậu Giang, P6, Q6, TPHCM</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <li>Gọi mua hàng <span>1800.1000</span> (7:30 - 22:00)</li>
                        <li>Gọi khiếu nại <span>1800.1001</span> (8:00 - 21:30)</li>
                        <li>Gọi bảo hành <span>1800.1002</span> (8:00 - 21:00)</li>
                        <li>Hỗ trợ kĩ thuật <span>1800.1003</span> (7:30 - 22:00)</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list_about">
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logotext1.png" alt="" height="100%" width="100%"></a>
                        </div>
                </div>
            </div>
        </div>
        </div><p style="text-align: center;"><span style="font-size:12px;">&copy; 2024. Cửa hàng Mobile Phone Store. Email: abc@Ou.edu.vn. Chịu trách nhiệm nội dung: Lê Minh Tính, Nguyễn Thái Quốc, Nguyễn Ích Trường.</span></p>
    </footer>
</body>

</html>